@font-face {
  font-family: 'iconfont';  /* Project id 3922130 */
  src: url('//at.alicdn.com/t/c/font_3922130_8twicug6urb.woff2?t=1677572380190') format('woff2'),
       url('//at.alicdn.com/t/c/font_3922130_8twicug6urb.woff?t=1677572380190') format('woff'),
       url('//at.alicdn.com/t/c/font_3922130_8twicug6urb.ttf?t=1677572380190') format('truetype');
}

[class^="font-icon-"],[class*=" font-icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon-address:before {
  content: "\e70c";
}

